Option to disable cache or refresh it asynchronously

This resolver provides a cache for IP addresses and TXT records.
Depending on the TTL set for the DNS record, this can lead to a significant delay before the resolver returns an up to date DNS record.

If this is done for latency concerns, updating the cache in the background via a goroutine would make sure the cache is refreshed regularly.
If the concern is for performance, being able to set a maximum TTL of records in the cache (0 for disabling it) would be great.

> If the domain does not resolve, the cache is cleared.

Domain resolution failures will be very rare. This means that the cache will just keep growing unboundedly as lookups for new domains are performed. This approach seems infeasible to me, unless you build something like an LRU cache.

> Depending on the TTL set for the DNS record, this can lead to a significant delay before the resolver returns an up to date DNS record.

Isn't this **exactly** what the TTL value in the DNS record is there for in the first place?

> This means that the cache will just keep growing unboundedly as lookups for new domains are performed
I may misunderstand, but I think this is how the [current implementation](https://github.com/libp2p/go-doh-resolver/blob/master/resolver.go#L143) is designed. I agree it's not ideal, but I think it is beyond the scope of this issue to decide on the best way to purge expired cache entry.

> Taking a step back, isn't this exactly what the TTL value in the DNS record is there for in the first place?
Not really. TTL is set by the domain owner. Then it's up to the implementation to decide to respect it or not. Using a custom DoH for instance, the domain records can be updated faster than the set TTL. Quoting [RFC2181 Section 8](https://datatracker.ietf.org/doc/html/rfc2181#section-8)
> Implementations are always free to place an upper bound on any TTL received, and treat any larger values as if they were that upper bound.  The TTL specifies a maximum time to live, not a mandatory time to live.